/* styles.css */
@font-face {
    font-family: norse;
    src: url(Norse.otf);
}

body {
  background-color: rgb(79, 34, 123);
}

img {
    width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: white;
    font-family: norse;
    letter-spacing: 1em;
    padding-bottom: 20px;
}